<!DOCTYPE html>
<html>
  <head>
    <title>New Post</title>
  </head>
  <body>
    <h1>Create your post!</h1>
    <form action="/posts" method="post">
      <h3>Name: <input type="text" id=":name" name=":name"></h3>
      <h3>Content: <input type="textarea" name="content"></h3>
      <input type="submit" id="submit" value="Submit">
    </form>
  </body>
</html>
